<body>
  <div class="container">
    <div class="containerHeader">
      <h1>{{ solution }}</h1>

      <div class="filtersOpt">
        <div class="datePickerDiv">
          <div class="dates">
            <input
              matInput
              [matDatepicker]="picker"
              [value]="startDate ? startDate : ''"
              class="datePicker"
              (click)="handleDatesPicker()"
              [max]="actualDate"
              readonly
            />
            <input
              matInput
              [matDatepicker]="picker2"
              [value]="endDate ? endDate : ''"
              class="datePicker"
              (click)="handleDatesPicker()"
              [max]="actualDate"
              readonly
            />
          </div>
          <mat-icon class="calendarIcon" (click)="handleDatesPicker()">{{
            !startDate && !endDate ? "date_range" : "event_busy"
          }}</mat-icon>
          <mat-datepicker touchUi #picker></mat-datepicker>
          <mat-datepicker touchUi #picker2> </mat-datepicker>
        </div>
        <div class="searchFilters">
          <input
            type="text"
            [(ngModel)]="filter"
            placeholder="Filtros"
            (ngModelChange)="applyFieldFilter()"
          />
          <mat-icon
            (click)="filter == '' ? abrirModal() : clearStringFilter()"
            >{{ filter == "" ? "drag_indicator" : "clear" }}</mat-icon
          >
        </div>
      </div>
    </div>
    <div class="titleLine"></div>
    <div class="transaction-header-list">
      @for(trans of filteredTransactions ; track trans.id ; let idx= $index; ){
      <div
        class="transaction-header"
        [ngClass]="isSelected(idx) ? 'transaction-header-selected' : ''"
        (click)="showDetails(trans.id, idx)"
      >
        <h6>{{ trans.sequence }}</h6>
        <div class="header-tittle">
          <h2>{{ trans.fromHost }} - {{ trans.toHost }}</h2>
          <h2 class="arrow">➟</h2>
          <h3>
            {{ trans.interface }}
          </h3>
        </div>
        <div class="line"></div>
        <div class="transaction-header-foot">
          <p>{{ getFormattedDate(trans.recordDate) }}</p>
          <div
            class="status"
            [ngClass]="trans.status == 'OK' ? 'statusOk' : 'statusErr'"
          ></div>
        </div>
      </div>
      }@empty{
      <p>no transactions found</p>
      }
    </div>
  </div>
  <div class="details">
    <router-outlet />
  </div>
</body>
