<main class="main">
  <div class="login">
    <form class="custom-form" method="post">
      <div class="logo">
        <img src="../../assets/Netlogistik_Logo_Blanco.png" />
        <div class="logo-footer"></div>
      </div>
      <div class="input-div">
        <label for="email">Usuario o email</label>
        <input
          type="email"
          name="email" 
          required="required"
        />
      </div>
      <div class="input-div">
        <label for="email">password</label>
        <input
          type="password"
          name="password" 
          required="required"
        />
      </div>
      <button type="submit">Log in</button>
    </form>
  </div>
</main>
