<body>
  <main class="main">
    <div class="login">
      <form class="custom-form">
        <div class="logo">
          <img src="../../assets/Netlogistik_Logo_Blanco.png" />
          <div class="logo-footer"></div>
        </div>
        <div class="input-div">
          <label for="username">Usuario</label>
          <input type="text" [(ngModel)]="username" name="username"/>
        </div>
        <div class="input-div">
          <label for="password">password</label>
          <input type="password" [(ngModel)]="password" name="password"/>
        </div>
        <a><button type="button" (click)="onSubmit()">Log In</button></a>
      </form>
    </div>
  </main>
</body>