<body>
  <main class="main">
    <div class="login">
      <form class="custom-form">
      <!-- <form (ngSubmit)="onSubmit()"> -->
        <div class="logo">
          <img src="../../assets/Netlogistik_Logo_Blanco.png" />
          <div class="logo-footer"></div>
        </div>
        <div class="input-div">
          <label for="email">Usuario o email</label>
          <input type="email" name="email" />
        </div>
        <div class="input-div">
          <label for="email">password</label>
          <input type="password" name="password" />
        </div>
        <a routerLink="main"><button type="button" (click)="onSubmit()">Log In</button></a>
      </form>
    </div>
  </main>
</body>