<body>
  <div class="div-grid">
    <div class="grid-header">
      <mat-toolbar>
        <button
          (click)="onCollapsedChange(!isCollapsed)"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <img src="../../assets/Netlogistik_Logo_Blanco.png" />
        <button>
          <mat-icon class="logout" (click)="logOut()">exit_to_app</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <div class="row-body">
      <div class="column-body">
        <div class="sidenav">
          <app-sidenav
            [collapsed]="isCollapsed"
            (collapsedChange)="onCollapsedChange($event)"
          />
        </div>
        <div class="child" (click)="onCollapsedChange(false)">
          <router-outlet />
        </div>
      </div>
    </div>
  </div>
</body>
