.sidenav {
  background: linear-gradient(
    to right,
    rgba(76, 102, 115, 1) 4rem,
    rgb(77, 93, 116) 4rem
  );
  transition: width 0.5s ease;
  position: fixed;
  width: 4rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}

.sidenav-collapsed {
  width: 15rem;
}

ul {
  list-style: none;
}

.sidenav-nav {
  padding: 0.938rem 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: calc(100% - 3.65rem);
}

.sidenav-nav-item {
  max-width: 100%;
  margin-bottom: 0.625rem;
}

i,
button {
  color: white;
  transform: scale(1.3);
  text-align: center;
  width: 4rem;
  height: 2.5rem;
  background: none;
  font-size: 24px;
  font-weight: 700;
  border: 0;
  transition: all 0.3s ease;
  align-content: center;
}

.sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: white;
  text-decoration: none;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
}

.item-element a,
span {
  z-index: 1;
}

span:hover,
.item-element a:hover {
  background-color: white;
  color: rgb(0, 38, 58);
}

.sidenav-nav-item:hover button,
.sidenav-nav-item:hover i {
  background-color: white;
  color: rgb(0, 38, 58);
  border-radius: 0.6rem;
}

.sidenav-nav-item-selected {
  background-color: rgb(77, 93, 116);
  color: rgb(255, 103, 32);
}

.elements-body {
  width: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.elements-body h1 {
  font-weight: 500;
  margin-bottom: 5%;
}

.h1ShowAll {
  font-weight: 500;
  margin: 5% 0 5% 0;
  font-size: 30px;
}

.item-element {
  padding: 0;
}
.sidenav-link-text {
  width: max-content;
  font-size: 19px;
}
