<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <ul class="sidenav-nav">
    @for(data of navData; track data.id; let idx= $index){
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link">
        @if(data.iconType){
        <i
          *ngIf="data.available == 'true'"
          class="material-icons"
          [ngClass]="data.selected ? 'sidenav-nav-item-selected' : ''"
          (click)="data.tabs.length == 0 ? closeToggle() : selectItem(idx)"
          [routerLink]="
            data.tabs.length !== 0 ? '/main/' + data.tabs[idx].route : '/main/'
          "
        >
          {{ data.icon }}
        </i>
        }@else{
        <button
          *ngIf="data.available == 'true'"
          [ngClass]="
            data.selected && !data.iconType ? 'sidenav-nav-item-selected' : ''
          "
          (click)="selectItem(idx)"
        >
          {{ data.icon }}
        </button>
        }
        <div
          class="elements-body"
          *ngIf="!data.selected ? menu() : data.selected"
          [ngClass]="selectFromTittleHover() ? 'itemTittle' : ''"
        >
          <h1
            [ngClass]="!data.selected && menu() ? 'h1ShowAll' : ''"
            *ngIf="data.available == 'true'"
            (click)="selectFromTittle(idx)"
          >
            {{ data.id }}
          </h1>
          <ul class="item-element">
            @for(tab of data.tabs; track tab.label; let idy = $index){
            <li *ngIf="data.selected">
              <a
                class="sidenav-nav-link"
                [routerLink]="'/main/' + tab.route"
                (click)="selectItem(idx)"
              >
                <span class="sidenav-link-text" *ngIf="data.selected">
                  {{ tab.label }}
                </span>
              </a>
            </li>
            }
          </ul>
        </div>
      </a>
    </li>
    }
  </ul>
</div>
