body {
  height: inherit;
  background-image: url("./../../assets/imagen.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2%;
}

body,
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  font-size: 2vw;
  font-weight: bold;
  margin-top: 1%;
  color: rgb(255, 103, 32);
}

.section {
  width: 40%;
  margin-bottom: 2%;
}

.section2 {
  width: 95%;
  display: flex;
  flex-direction: row;
}

.Endpoint-sec {
  width: 100%;
  display: inherit;
  flex-direction: column;
  align-items: center;
}

.inline {
  background-color: rgb(0, 38, 58);
  margin: 0.8% 0 0.5% 0;
  width: 30%;
  height: 0.35vh;
}

input {
  width: 90%;
  height: 5vh;
  border-color: rgb(228, 228, 228);
  margin-bottom: 1.5%;
  text-align: center;
  border-width: 0px;
  font-size: 1.2vw;
}

.section2 input {
  font-size: 1.1vw;
}

label,
h2 {
  align-self: baseline;
  margin-left: 5%;
  margin-bottom: 1%;
}

.readonly {
  background-color: rgb(233, 229, 229);
  color: rgb(0, 38, 58);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  margin-bottom: 1%;
}

button {
  /* background-color:  rgb(0, 38, 58); */
  color: white;
  border: 0;
  border-radius: 5%;
  width: 30%;
  height: 5.5vh;
  font-size: 20px;
  background-color: rgb(255, 103, 32);
}

.buttons button:active {
  transform: scale(0.9);
  background-color: rgb(201, 86, 33);
}

.buttonUnactive {
  background-color: rgb(179, 83, 39);
  color: lightgray;
}

@media screen and (max-width: 1280px) {
  a {
    margin: 0;
  }

  .section {
    margin-bottom: 1%;
  }

  .inline {
    margin: 0.5% 0 0.2% 0;
    width: 30%;
    height: 0.35vh;
  }

  .buttons {
    margin-top: 0.8%;
    margin-bottom: 1%;
  }
}
