<body [ngClass]="solution == 'TEP' ? 'tepSection' : ''">
  <a *ngIf="solution != 'TEP'">{{ solution }}</a>
  <div *ngIf="solution != 'TEP'" class="inline"></div>
  <h1 [ngClass]="solution == 'TEP' ? 'tepTittle' : ''">
    Configura tus URL para {{ solution }}
  </h1>
  <div [ngClass]="solution == 'TEP' ? 'loginTep' : ''" class="section">
    <h2 *ngIf="solution != 'TEP'">Servicio</h2>
    <label for="current">Actual URL:</label>
    <input
      class="readonly"
      readonly
      value="{{ solution == 'TEP' ? login : service }}"
    />
    <label for="current">Nueva URL:</label>
    <input [(ngModel)]="serviceVal" name="serviceVal" />
  </div>
  <div class="section" *ngIf="solution != 'TEP'">
    <h2>Endpoint</h2>
    <div class="section2">
      <div class="Endpoint-sec">
        <label for="current">Actual {{ endName1 }} EP:</label>
        <input class="readonly" readonly value=" {{ end1 }} " />
        <label for="current">Nuevo EP:</label>
        <input [(ngModel)]="val1" name="val1" />
      </div>
      <div class="Endpoint-sec">
        <label for="current">Actual {{ endName2 }} EP: </label>
        <input class="readonly" readonly value="{{ end2 }}" />
        <label for="current">Nuevo EP:</label>
        <input [(ngModel)]="val2" name="val2" />
      </div>
    </div>
  </div>
  <div *ngIf="solution == 'TEP'" class="tepSection2">
    @for(interface of tepIntData; track interface.name; let idx= $index;){
    <div class="interface">
      <h2>{{ capitalizeFirstLetter(interface.name) }}</h2>
      <input
        type="text"
        class="readonly"
        value="{{ interface.currentValue }}"
        readonly
      />
      <!-- [(ngModel)]="interface.newValue" -->
      <!-- (input)="onChange($event, idx)" -->
      <input type="text" [(ngModel)]="interface.newValue" />
    </div>
    }
  </div>
  <div class="buttons" [ngClass]="solution == 'TEP' ? 'buttonsTep' : ''">
    <button (click)="clearinputs()">Limpiar</button>
    <button
      [ngClass]="active() ? 'buttonUnactive' : ''"
      (click)="active() ? '' : updateConnections()"
    >
      Guardar
    </button>
  </div>
</body>
