<body>
  <a>{{ solution }}</a>
  <div class="inline"></div>
  <h1>Configura tus URL para {{ solution }}</h1>
  <div class="section">
    <h2>{{ solution == "TEP" ? "Login" : "Servicio" }}</h2>
    <label for="current">Actual URL:</label>
    <input
      class="readonly"
      readonly
      value="{{ solution == 'TEP' ? login : service }}"
    />
    <label for="current">Nueva URL:</label>
    <input [(ngModel)]="serviceVal" name="serviceVal" />
  </div>
  <div class="section">
    <h2>Endpoint</h2>
    <div class="section2">
      <div class="Endpoint-sec">
        <label for="current">Actual {{ endName1 }} EP:</label>
        <input class="readonly" readonly value=" {{ end1 }} " />
        <label for="current">Nuevo EP:</label>
        <input [(ngModel)]="val1" name="val1" />
      </div>
      <div class="Endpoint-sec">
        <label for="current">Actual {{ endName2 }} EP: </label>
        <input class="readonly" readonly value="{{ end2 }}" />
        <label for="current">Nuevo EP:</label>
        <input [(ngModel)]="val2" name="val2" />
      </div>
    </div>
  </div>
  <div class="buttons">
    <button (click)="clearinputs()">Limpiar</button>
    <button
      [ngClass]="active() ? 'buttonUnactive' : ''"
      (click)="active() ? '' : updateConnections()"
    >
      Guardar
    </button>
  </div>
</body>
